.about {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.about-left {
    flex-basis: 40%;
    position: relative;
}
.about-right {
    flex-basis: 56%;
}
.about-img {
    width: 100%;
    border-radius: 4px;
}
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60px;
    cursor: pointer;
}
.about-right h3 {
    font-weight: 600;
    font-size: 16px;
    color: #223323;
    text-align: center;
}
.about-right h2 {
    font-size: 32px;
    font-weight: 600;
    color: #143516;
    margin: 18px 6px;
}
.about-right p {
    max-width: 600px;
    margin-bottom: 16px;
}
/* aresponsive */ 
@media (max-width: 800px) {
    .about {
        flex-direction: column;
    }
    .about-left {
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-right {
        flex-basis: 100%;
    }
}