nav {
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 10;
}
.logo {
    width: 180px;
}
nav ul li {
    display: inline-block;
    margin: 5px 20px;
    font-size: 16px;
    list-style: none;
}
.btn {
    background-color: #fff;
    color: #212121;
    padding: 14px 25px;
    border-radius: 30px;
    border: 0;
    outline: none;
    cursor:pointer;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn img {
    width: 20px;
    padding-left: 10px;
}
.dark-nav {
    background-color: #3218a7;
}
.menu-icon {
    display: none;
}

/* responsive */
@media (max-width: 1200px) {
    nav ul li {
        margin: 5px 10px;
    }
}
@media (max-width: 840px) {
    nav ul {
        width: 200px;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #3218a7;
        position: fixed;
        padding-top: 56px;
        z-index: -1;
        transition: .5s;
    }
    nav ul li {
        display: block;
        margin: 24px 32px;
    }
    nav .menu-icon {
        display: block;
        width: 48px;
        margin-top: 24px;
        padding-bottom: 8px;
    }
    .hide-menu {
        right: -200px;
    }
}